:root {
    --total-width: 300px;
    --total-height: 480px;
    --title-height: 40px;
    --chatroom-height: 80px;
}

.notifybox-openbtn {
    z-index: 10;
    display: none;
    position: fixed;
    user-select: none;
    bottom: 76.8px;
    right: 16.8px;
    width: calc(var(--title-height) + 10px);
    text-align: center;
    height: calc(var(--title-height) + 10px);
    line-height: calc(var(--title-height) + 5px);
    color: #3387a8;
    font-size: 25px;
    background-color: #cdf0ea;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px rgba(155 155 155 / 50%);
}
.notifybox-openbtn:hover {
    cursor: pointer;
}

#notifybox-newalert {
    display: none;
    background-color: #3387a8;
}

#notifybox-main {
    z-index: 10;
    user-select: none;
    display: none;
    position: fixed;
    bottom: 16.8px;
    right: 16.8px;
    width: var(--total-width);
    height: var(--total-height);
    background-color: #cdf0ea;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(155 155 155 / 50%);
}

#notifybox-main img {
    -webkit-user-drag: none;
}

#notifybox-list {
    background-color: white;
}

.notifybox-title {
    width: var(--total-width);
    height: var(--title-height);
    background-color: #cdf0ea;
    text-align: center;
}

.notifybox-title span {
    line-height: var(--title-height);
    color: #3387a8;
}

.notifybox-title .notifybox-title-text {
    padding-left: 10px;
    float: left;
}

#notifybox-list-title .notifybox-title-text {
    width: 105px;
}

.notifybox-menubtn {
    width: 40px;
    text-align: center;
    line-height: var(--title-height);
    color: #3387a8;
    padding: 0 10px;
    float: right;
}

.notifybox-menubtn:hover {
    cursor: pointer;
}

.notifybox-menubtn .dropdown-menu {
    padding: 0;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px rgba(155 155 155 / 50%);
}

.notifybox-menubtn .dropdown-item {
    height: 40px;
    line-height: 32px;
    padding: 5px 10px;
}
.notifybox-menubtn .dropdown-item:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}
.notifybox-menubtn .dropdown-item:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}
.notifybox-menubtn .dropdown-item:active {
    color: #3387a8;
    background-color: #cdf0ea;
}
.notifybox-menubtn .dropdown-item:hover {
    color: black;
    background-color: #eeeeee;
}

#notifybox-list-notifications {
    width: calc(var(--total-width) + 16.8px);
    height: calc(var(--total-height) - var(--title-height));
    overflow-x: hidden;
    overflow-y: scroll;
}

.notifybox-notifications-notification {
    width: var(--total-width);
    height: var(--chatroom-height);
    float: left;
}
.notifybox-notifications-notification.unread {
    background-color: #f0ffff;
}
.notifybox-notifications-notification:hover {
    background-color: #eeeeee;
}

.notifybox-notification-message {
    float: left;
    width: 200px;
}

.notifybox-notification-message p {
    display: -webkit-box;
    width: 180px;
    height: 61px;
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 9.5px 10px;
}

.notifybox-notification-option {
    float: right;
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 40px;
    font-size: 30px;
    margin: 15px 0;
}
.notifybox-notification-option:hover {
    cursor: pointer;
}
