<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>iMint :: 관리자 회원조회</title>
<th:block th:replace="libs/libsStyles" />
<link rel="stylesheet" href="/static/css/member/member_basic.css">
<link rel="stylesheet" href="/static/css/mypage/mypage_asidebar.css">
<link rel="stylesheet" href="/static/css/member/admin_member.css">
</head>

<body>
	<hr>
	<!-- 아티클 시작 -->
	<div class="container-page">
		<h3>회원 리스트</h3>
		<div class="container-aside-main">
			<div th:replace="admin_asideBar :: asideBar"></div>


			<div class="container-main">
				<table class="table table-hover" id="table">
					<tr>
						<!-- HTML 태그에 속성으로 이벤트 리스너를 등록 -->
						<th><input type="checkbox" name="member_check" value="0" onclick='selectAll(this)'></th>
						<th>닉네임</th>
						<th>이메일</th>
						<th>권한</th>
						<th>연동계정</th>
						<th>가입일</th>

					</tr>
					<tbody id="member_list">
						<!-- 등록된 회원 리스트 삽입  -->
						<tr th:each="memberDTO : ${memberlist}">
							<td class="table_cnt"><input type="checkbox" name="member_check"></td>
							<td>[[${memberDTO.mbNick}]]</td>
							<td>[[${memberDTO.mbEmail}]]</td>
							<td>[[${memberDTO.mbRole}]]</td>
							<td>[[${memberDTO.mbGuard}]]</td>
							<td>[[${memberDTO.mbJoinDate}]]</td>
						</tr>
					</tbody>

				</table>

			</div>

		</div>
	</div>

	<footer th:replace="fragments :: footer"></footer>
	<th:block th:replace="libs/libsScript" />

	<script src="/static/js/admin/admin_member.js"></script>

</body>
</html>