<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="aside">
	<!-- 어사이드바 컨테이너 -->
	<div class="aside-container">
		<a class="content" href="/mypage">
			<div id="mypage-main" class="aside-tab-item">
				<p class="tab-text">나의 아이민트</p>
			</div>
		</a>
		<br> 
		<th:block th:if="${#strings.equals(session?.memberDTO?.mbRole,'GUARD')}">
			<a class="content" href="/mypage/location">
				<div id="mypage-location" class="aside-tab-item">
					<p class="tab-text">내 동네 설정</p>
				</div>
			</a>
			<br>
		</th:block>
		
			<a class="content" href="/mypage/mylist">
			<div id="mypage-mylist" class="aside-tab-item">
			<p class="tab-text">
					<span th:if="${#strings.equals(session?.memberDTO?.mbRole,'GUARD')}">내 아이의 거래목록</span>
					<span th:unless="${#strings.equals(session?.memberDTO?.mbRole,'GUARD')}">나의 거래목록</span> 
			</p>			
					
			</div>
		</a>
		<br> 
		<a class="content" href="/mypage/block">
			<div id="mypage-mylist" class="aside-tab-item">
				<p class="tab-text">
					<span th:if="${#strings.equals(session?.memberDTO?.mbRole,'GUARD')}">내 아이의 차단목록</span>
				</p>
			</div>
		</a>
		<a class="content" href="/mypage/block">
			<div class="aside-tab-item">
				<p class="tab-text">
					<span th:if="${#strings.equals(session?.memberDTO?.mbRole,'CHILD')}">나의 차단목록</span>
				</p>
			</div>
		</a>
		<br>
		
		
		<a class="content" href="/mypage/edit">
			<div id="mypage-edit" class="aside-tab-item">
				<p class="tab-text">회원정보 수정</p>
				
			</div>
		</a><br> <a class="content" href="/mypage/withdraw">
			<div id="mypgae-withdraw" class="aside-tab-item">
				<p class="tab-text">회원 탈퇴</p>
			</div>
		</a>
	</div>
</aside>

</html>