<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>iMint :: 마이페이지</title>
<link rel="stylesheet" href="/static/css/mypage/mypage_mylist.css">
<link rel="stylesheet" href="/static/css/mypage/mylist_content.css">
<link rel="stylesheet" href="/static/css/mypage/mypage_asidebar.css">
<th:block th:replace="libs :: style" />
</head>
<body>
	<!-- 헤더 시작 -->
 	<header th:replace="frags :: header"></header>
 	
 	<!-- 아티클 시작 -->
	<div class="container-page">
	
	<div class="container-aside-main">
	<!-- 어사이드 시작 -->
	<div class="container-aside">
	<h2 class="title">마이페이지</h2>
	 	<aside th:replace="mypage/asideBar :: aside"></aside>
	 	</div>
	 	<!-- 어사이드 끝 -->
	 	
	 	<!-- 아티클 시작 -->
        

	 	
	 	<div class="container-main">
		 	<div class="title-text">
			 	 <h2 th:if="${#lists.size(userChilds) == 0}">연결된 아이가 없습니다.</h2>
		       		<div th:unless="${#lists.size(userChilds) == 0}">
		     		<h2  id="child-define">조회하실 아이를 선택해 주세요.</h2>
     					<br>
     					<div class="dropdown">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							    아이 선택
							  </button>
							  <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							  	<div th:each="child : ${userChilds}">
							  	
     								<li><a class="dropdown-item" id="${child.childNick}" href="#">[[${child.childNick}]]</a></li>
     							</div>
							  </ul>
							 
							</div>
     				</div>	 
			   
			</div>
	 	</div>

	        
	    	</div>
	    </div>

	<footer th:replace="frags :: footer"></footer>
	<th:block th:replace="libs :: script" />
	<script src="/static/js/mypage/mypage-aside.js"></script>
	<script src="/static/js/mypage/mypage-mylist.js"></script>
</body>
</html>