<!-- 버튼 -->
<!--/*
 <div class="buttons">
	<h6 class="select-title">전체선택</h6>
	<input type="checkbox" class="selectAllbtn" name="selected" />
	<button type="button" id="edit" class="btn btn-secondary btn-sm">수정</button>
	<button type="button" id="delete" class="btn btn-secondary btn-sm">삭제</button>
</div>
*/-->

<!-- 항목명 -->
<div class="item-lables">
	<div class="checkbox">
		<h6 class="lables-checkbox">No.</h6>
	</div>
	<div class="status">
		<h6 class="lables-status">구분</h6>
	</div>
	<div class="photo">
		<h6 class="lables-photo">사진</h6>
	</div>
	<div class="subject">
		<h6 class="lables-subject">거래명</h6>
	</div>
	<div class="interest">
		<h6 class="lables-interest">관심 수</h6>
	</div>
	<div class="price">
		<h6 class="lables-price">가격</h6>
	</div>
	<div class="link">
		<h6 class="lables-link">바로가기</h6>
	</div>
</div>

<!-- 항목별 내용 -->
<th:block th:if="${#strings.equals(session?.memberDTO?.mbRole,'GUARD')}">
	<th:block th:each="wishes : ${allWish}">
		<th:block th:each="wish : ${wishes.value}">
			<div class="item-list item-list-guard" th:classappend="${wishes.key}">
				<div class="checkbox">
					<!-- <input type="checkbox" class="select-targets" name="selected" /> -->
					<p class="count">[[${wishStat.count}]]</p>
				</div>
				<div class="status">
					<p th:switch="${wish.category}" class="text">
						<span th:case="wait" class="badge rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="top"
							title="구매할 수 있는 상품입니다.<br>거래를 제안해보세요!" data-bs-html="true">구매가능</span>
						<span th:case="resrv_buyer" class="badge rounded-pill bg-danger" data-bs-toggle="tooltip"
							data-bs-placement="top" title="내가 구매하기로<br>예약한 상품입니다." data-bs-html="true">구매예약</span>
						<span th:case="resrv_other" class="badge rounded-pill bg-warning text-dark" data-bs-toggle="tooltip"
							data-bs-placement="top" title="다른 회원이 구매하기로<br>예약한 상품입니다." data-bs-html="true">예약중</span>
						<span th:case="comp_buyer" class="badge rounded-pill bg-danger" data-bs-toggle="tooltip"
							data-bs-placement="top" title="내가 구매한 상품입니다.">구매완료</span>
						<span th:case="comp_other" class="badge rounded-pill bg-secondary" data-bs-toggle="tooltip"
							data-bs-placement="top" title="이미 판매된 상품입니다.">구매불가</span>
						<span th:case="*" style="color: #9B9B9B" data-bs-toggle="tooltip" data-bs-placement="top"
							title="오류가 발생했습니다.">[[${wish.category}]]</span>
					</p>
				</div>
				<div class="photo">
					<img class="photo" th:src="${wish.goodsImagesPath}">
				</div>
				<div class="subject">
					<p class="text subject-text">[[${wish.goodsTitle}]]</p>
				</div>
				<div class="interest">
					<p class="text">[[${wish.wishes}]]</p>
				</div>
				<div class="price">
					<p class="text text-price">[[${wish.goodsPrice}]]</p>
				</div>
				<div class="link">
					<button type="button" id="linkItem" class="btn btn-primary btn-sm"
						th:attr="onclick=|location.href = '/goods/detail?goodsId=' + '${wish.goodsId}'|">바로가기</button>
				</div>
			</div>
		</th:block>
	</th:block>
</th:block>
<th:block th:if="${#strings.equals(session?.memberDTO?.mbRole,'CHILD')}">
	<div th:if="${#lists.size(userWish) == 0}">
		<br> <br>
		<p>관심 등록한 물건 또는 예약한 거래가 없어요. 지금 시작해 보세요!</p>
	</div>
	<th:block th:each="wish : ${userWish}">
		<div class="item-list">
			<div class="checkbox">
				<!-- <input type="checkbox" class="select-targets" name="selected" /> -->
				<p class="count">[[${wishStat.count}]]</p>
			</div>
			<div class="status">
				<p th:switch="${wish.category}" class="text">
					<span th:case="wait" class="badge rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="top"
						title="구매할 수 있는 상품입니다.<br>거래를 제안해보세요!" data-bs-html="true">구매가능</span>
					<span th:case="resrv_buyer" class="badge rounded-pill bg-danger" data-bs-toggle="tooltip" data-bs-placement="top"
						title="내가 구매하기로<br>예약한 상품입니다." data-bs-html="true">구매예약</span>
					<span th:case="resrv_other" class="badge rounded-pill bg-warning text-dark" data-bs-toggle="tooltip" data-bs-placement="top"
						title="다른 회원이 구매하기로<br>예약한 상품입니다." data-bs-html="true">예약중</span>
					<span th:case="comp_buyer" class="badge rounded-pill bg-danger" data-bs-toggle="tooltip" data-bs-placement="top"
						title="내가 구매한 상품입니다.">구매완료</span>
					<span th:case="comp_other" class="badge rounded-pill bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
						title="이미 판매된 상품입니다.">구매불가</span>
					<span th:case="*" style="color: #9B9B9B" data-bs-toggle="tooltip" data-bs-placement="top"
						title="오류가 발생했습니다.">[[${wish.category}]]</span>
				</p>
			</div>
			<div class="photo">
				<img class="photo" th:src="${wish.goodsImagesPath}">
			</div>
			<div class="subject">
				<p class="text subject-text">[[${wish.goodsTitle}]]</p>
			</div>
			<div class="interest">
				<p class="text">[[${wish.wishes}]]</p>
			</div>
			<div class="price">
				<p class="text text-price">[[${wish.goodsPrice}]]</p>
			</div>
			<div class="link">
				<button type="button" id="linkItem" class="btn btn-primary btn-sm"
					th:attr="onclick=|location.href = '/goods/detail?goodsId=' + '${wish.goodsId}'|">바로가기</button>
			</div>
		</div>
	</th:block>
</th:block>