<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="multi.fclass.iMint.admin.dao.IAdminDAO">

<select id="selectmemberall" resultType="memberDTO">
	select mb_nick, mb_email, mb_role, mb_guard, mb_join_date from imint.member
</select>


</mapper>