<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="multi.fclass.iMint.block.dao.IBlockDAO">

<!-- 차단  -->
    <insert id="block" parameterType="String">
        INSERT INTO imint.block(mb_id, mb_id2, block_date)) 
        VALUES
        (#{mbId}, #{blockmbId}, now());
    </insert>

<!-- 차단해제  -->    
    <update id="unblock" parameterType="String">
        UPDATE imint.block
        SET 
        (block_isdelete = 1)
        WHERE (mb_id = #{mbId} AND mb_id2 = #{unblockmbId}); <!-- 다중 조건 -->
    </update>
    
    

</mapper>