<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="multi.fclass.iMint.goods.dao.IGoodsDAO">

	<!-- &lt;는 < 와 같다 게시글 18개씩 조회 -->
	<select id="goodsList" resultType="goodsDTO">
		SELECT * FROM `imint`.`goods`
		WHERE goods_id &lt; #{lastBoard} 
		AND `goods_isdelete` = 0
		ORDER BY `goods_create_date` DESC 
		LIMIT 18;
	</select>
	
	<select id="goodsThumbnail" resultType="goodsImagesDTO">
		SELECT * FROM `imint`.`goods_images`
		WHERE `goods_id` = #{goods_id} 
		AND `goods_images_thumbnail` = 1
		AND `goods_images_isdelete` = 0 
		LIMIT 1;
	</select>
	
	<!-- 상품상세조회 -->
	<select id="goods" resultType="goodsDTO">
		SELECT  * FROM `imint`.`goods` 
		WHERE `goods_id`= #{goods_id}
		AND `goods_isdelete` = 0
		LIMIT 1;
	</select>
	
	<select id="goodsImageList" resultType="goodsImagesDTO">
		SELECT * FROM `imint`.`goods_images` 
		WHERE `goods_id` = #{goods_id}
		AND `goods_images_thumbnail` IN (0,1) 
		AND `goods_images_isdelete` = 0 
		ORDER BY `goods_images_thumbnail` DESC, `goods_images_id` ASC
		LIMIT 1000;
	</select>
	
	<!-- 상품등록 -->
	<insert id="goodsInsert">
		INSERT INTO `imint`.`goods` (`seller_id`, `seller_nick`, `goods_title`, `goods_content`, `goods_price`, `goods_category`,`goods_suggestible`, `goods_location`) 
		VALUES (#{sellerId}, #{sellerNick}, #{goodsTitle}, #{goodsContent}, #{goodsPrice}, #{goodsCategory}, #{goodsSuggestible}, #{goodsLocation});
		<selectKey resultType="int" keyProperty="goods_id" order="AFTER">
        	SELECT LAST_INSERT_ID()
   		</selectKey>        
	</insert>
	<insert id="goodsImagesInsert">
		INSERT INTO `imint`.`goods_images` (`goods_id`, `goods_images_path`, `goods_images_thumbnail`, `goods_images_originname`) 
		VALUES (#{goodsId}, #{goodsImagesPath}, #{goodsImagesThumbnail}, #{goodsImagesOriginname});
		<selectKey resultType="int" keyProperty="goods_images_id" order="AFTER">
        	SELECT LAST_INSERT_ID()
   		</selectKey>   
	</insert>
	
	
</mapper>