<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="multi.fclass.iMint.goods.dao.IGoodsDAO">

	<!-- &lt;는 < 와 같다 게시글 18개씩 조회 -->
	<select id="goodsList" resultType="goodsDTO">
		SELECT * FROM `imint`.`goods`
		WHERE goods_id &lt; #{lastBoard} 
		ORDER BY `goods_create_date` DESC 
		LIMIT 18;
	</select>
	
	<select id="goodsThumbnail" resultType="goodsImagesDTO">
		SELECT * FROM `imint`.`goods_images`
		WHERE `goods_id` = #{goods_id} AND `goods_images_thumbnail` = 1
		LIMIT 1;
	</select>
</mapper>