<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="multi.fclass.iMint.member.dao.IMemberDAO">

<!-- 회원정보 수정 -->
    <update id = "updatemember" parameterType="multi.fclass.iMint.member.dto.MemberDTO">
        UPDATE imint.member 
        SET mb_thumbnail = #{mbThumbnail}, mb_nick = #{mbNick}, mb_interest = #{mbInterest}
        WHERE (mb_id = #{mbId});
    </update>
	
<!-- 회원탈퇴	 -->
    <update id = "updatedelete" parameterType="multi.fclass.iMint.member.dto.MemberDTO">
        UPDATE imint.member 
        SET mb_isdelete = 1, mb_role = null, mb_pin = null
        WHERE (mb_id = #{mbId});
    </update>

<!-- 회원사진 업로드	 -->
    <update id = "updatethumbnail" parameterType="String">
        UPDATE imint.member 
        SET mb_thumbnail = #{allname}
        WHERE (mb_id = #{mbId});
    </update>
    
<!-- 회원 동네 수정  -->    
    <update id="updatelocation" parameterType="multi.fclass.iMint.member.dto.MemberDTO">
        UPDATE imint.member 
        SET mb_location = #{mbLocation}
        WHERE (mb_id = #{mbId});
    </update>
    
</mapper>