<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="multi.fclass.iMint.member.dao.IMypageDAO">
	<select id="selectSellingList" parameterType="Map" resultType="SellingListDTO">
		SELECT
			IF(g.goods_status = "wait", "wait", "resrv") AS category,
			g.goods_id,
			g.goods_title,
			g.goods_price,
			g.goods_location,
			g.goods_create_date,
			gi.goods_images_path,
			gi.goods_images_originname,
			w.wishes
		FROM
			(goods AS g JOIN (SELECT * FROM goods_images WHERE goods_images_thumbnail = TRUE) AS gi ON g.goods_id = gi.goods_id)
			JOIN (SELECT goods_id, count(mb_id) AS wishes FROM wishlist GROUP BY goods_id) AS w ON g.goods_id = w.goods_id
		WHERE
			g.mb_id LIKE #{myId}
			AND g.goods_status = "wait" OR g.goods_status = "resrv"
		LIMIT
			#{startIndex}, #{numberOfItems}
	</select>
	<select id="selectCompleteList" parameterType="Map" resultType="CompleteListDTO">
		SELECT
			IF(trx.mb_id LIKE #{myId}, "buy", "sell") AS category,
			g.goods_id,
			g.goods_title,
			g.goods_price,
			g.goods_location,
			gi.goods_images_path,
			gi.goods_images_originname,
			w.wishes,
			trx.trx_complete_date,
			r.rating_id
		FROM
			(((transaction AS trx JOIN goods AS g ON trx.goods_id = g.goods_id)
			JOIN (SELECT * FROM goods_images WHERE goods_images_thumbnail = TRUE) AS gi ON g.goods_id = gi.goods_id)
			JOIN (SELECT goods_id, count(mb_id) AS wishes FROM wishlist GROUP BY goods_id) AS w ON g.goods_id = w.goods_id)
			LEFT OUTER JOIN (SELECT * FROM rating WHERE mb_id LIKE "#{myId}") AS r ON trx.trx_id = r.trx_id
		WHERE
			trx.mb_id LIKE #{myId} OR g.mb_id LIKE #{myId})
		LIMIT
			#{startIndex}, #{numberOfItems}
	</select>
</mapper>