<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="multi.fclass.iMint.mypage.dao.IMypageDAO">
	<!-- 내 보호자 -->
	<select id="getMyGuard" resultType="MypageConnectionDTO">
		SELECT
			m2.mb_id,
			m2.mb_nick
		FROM
			`imint`.`member` AS m1
			JOIN `imint`.`member` AS m2 ON m1.mb_guard = m2.mb_id
		WHERE
			m1.mb_id LIKE #{myId}
	</select>	
	
	<!-- 내 아이 목록 -->
	<select id="getMyChildrenList" resultType="MypageConnectionDTO">
		SELECT
			mb_id,
			mb_nick
		FROM
			`imint`.`member`
		WHERE
			mb_guard LIKE #{myId}
	</select>

	<!-- 관심목록 -->
	<select id="getWishList" resultType="MypageDTO">
		SELECT
			CASE
				WHEN g.goods_status LIKE "wait" THEN "wait"
				WHEN g.goods_status LIKE "resrv" THEN IF(cr.buyer_id LIKE #{myId}, "resrv_buyer", "resrv_other")
				WHEN g.goods_status LIKE "comp" THEN IF(trx.mb_id LIKE #{myId}, "comp_buyer", "comp_other")
			END AS category,
			g.goods_id,
			g.seller_id,
			g.seller_nick,
			g.goods_title,
			g.goods_price,
			g.goods_location,
			g.goods_create_date,
			gi.goods_images_path,
			gi.goods_images_originname,
			wi.wishes,
			CASE
				WHEN g.goods_status LIKE "wait" THEN w.wishlist_create_date
				WHEN g.goods_status LIKE "resrv" THEN IF(cr.buyer_id LIKE #{myId}, cr.resrv_date, w.wishlist_create_date)
				WHEN g.goods_status LIKE "comp" THEN IF(trx.mb_id LIKE #{myId}, trx.trx_complete_date, w.wishlist_create_date)
			END AS last_update_date
		FROM
			`imint`.`wishlist` AS w
            JOIN `imint`.`goods` AS g ON w.goods_id = g.goods_id
			LEFT JOIN (SELECT goods_id, goods_images_path, goods_images_originname FROM `imint`.`goods_images` WHERE goods_images_isdelete = FALSE AND goods_images_thumbnail = TRUE) AS gi ON g.goods_id = gi.goods_id
			LEFT JOIN (SELECT goods_id, count(*) AS wishes FROM `imint`.`wishlist` WHERE wishlist_isdelete = FALSE GROUP BY goods_id) as wi on g.goods_id = wi.goods_id
			LEFT JOIN (SELECT goods_id, buyer_id, resrv_date FROM `imint`.`chatroom` WHERE isdelete = FALSE AND resrv_date IS NOT NULL) AS cr ON g.goods_id = cr.goods_id
			LEFT JOIN `imint`.`transaction` AS trx ON g.goods_id = trx.goods_id
		WHERE
			w.wishlist_isdelete = FALSE
			AND w.mb_id LIKE #{myId}
			AND g.goods_isdelete = FALSE
			AND (trx_isdelete = FALSE OR trx.trx_isdelete IS NULL)
		ORDER BY
			last_update_date DESC, goods_id DESC
	</select>
	
	<!-- 구매예약 + 판매중(대기 + 예약) 목록 -->
	<select id="getTradeList" resultType="MypageDTO">
		SELECT
			CASE
				WHEN g.goods_status LIKE "wait" THEN "wait"
				WHEN g.goods_status LIKE "resrv" THEN IF(g.seller_id LIKE #{myId}, "resrv_seller", "resrv_buyer")
			END AS category,
		    g.goods_id,
			g.seller_id,
			g.seller_nick,
		    g.goods_title,
		    g.goods_price,
		    g.goods_location,
		    g.goods_create_date,
		    gi.goods_images_path,
		    gi.goods_images_originname,
		    w.wishes,
		    CASE
				WHEN g.goods_status LIKE "wait" THEN g.goods_create_date
				WHEN g.goods_status LIKE "resrv" THEN cr.resrv_date
			END AS last_update_date
		FROM
			`imint`.`goods` AS g
			LEFT JOIN (SELECT goods_id, goods_images_path, goods_images_originname FROM `imint`.`goods_images` WHERE goods_images_isdelete = FALSE AND goods_images_thumbnail = TRUE) AS gi ON g.goods_id = gi.goods_id
			LEFT JOIN (SELECT goods_id, count(*) AS wishes FROM `imint`.`wishlist` WHERE wishlist_isdelete = FALSE GROUP BY goods_id) as w on g.goods_id = w.goods_id
			LEFT JOIN (SELECT goods_id, buyer_id, resrv_date FROM `imint`.`chatroom` WHERE isdelete = FALSE AND resrv_date IS NOT NULL) AS cr ON g.goods_id = cr.goods_id
		WHERE
			g.goods_isdelete = FALSE
			AND (g.goods_status LIKE "wait" OR g.goods_status LIKE "resrv")
			AND (g.seller_id LIKE #{myId} OR cr.buyer_id LIKE #{myId})
		ORDER BY
			last_update_date DESC, goods_id DESC
	</select>
	
	<!-- 거래(구매 + 판매)완료 목록 -->
	<select id="getCompleteList" resultType="MypageDTO">
		SELECT
			IF(trx.mb_id LIKE #{myId}, "buy", "sell") AS category,
			g.seller_nick,
			g.goods_id,
			g.seller_id,
			g.seller_nick,
		    g.goods_title,
		    g.goods_price,
		    g.goods_location,
		    g.goods_create_date,
		    gi.goods_images_path,
		    gi.goods_images_originname,
		    w.wishes,
			trx.trx_complete_date AS last_update_date
		FROM
			`imint`.`transaction` AS trx
			JOIN `imint`.`goods` AS g ON trx.goods_id = g.goods_id
			LEFT JOIN (SELECT goods_id, goods_images_path, goods_images_originname FROM `imint`.`goods_images` WHERE goods_images_isdelete = FALSE AND goods_images_thumbnail = TRUE) AS gi ON g.goods_id = gi.goods_id
			LEFT JOIN (SELECT goods_id, count(*) AS wishes FROM `imint`.`wishlist` WHERE wishlist_isdelete = FALSE GROUP BY goods_id) as w on g.goods_id = w.goods_id
		WHERE
			trx.trx_isdelete = FALSE
			AND (trx.mb_id LIKE #{myId} OR g.seller_id LIKE #{myId})
		ORDER BY
			last_update_date DESC, g.goods_id DESC
	</select>
	
	<!-- 채팅방 목록 -->
	<select id="getChatroomList" resultType="MypageChatroomDTO">
	SELECT
		IF(cr.buyer_id LIKE #{myId}, "buy", "sell") AS category,
		cr.id,
	    g.goods_id,
	    g.goods_title,
		g.goods_price,
		g.goods_suggestible,
	    IF(g.seller_id LIKE #{myId}, cr.buyer_id, g.seller_id) AS opponent_id,
	    IF(g.seller_id LIKE #{myId}, mbbuy.mb_nick, g.seller_nick) AS opponent_nick,
	    IF(g.seller_id LIKE #{myId}, mbbuy.mb_thumbnail, mbsell.mb_thumbnail) AS opponent_thumbnail,
	    g.goods_location,
	    gi.goods_images_path,
	    gi.goods_images_originname,
	    cm.sender_id,
	    cm.message,
	    cm.is_read,
	    IF(cm.send_date IS NULL, cr.create_date, cm.send_date) AS last_update_date
	FROM
		`imint`.`chatroom` AS cr
	    JOIN (SELECT mb_id, mb_nick, mb_thumbnail FROM `imint`.`member`) AS mbbuy on cr.buyer_id = mbbuy.mb_id
	    JOIN `imint`.`goods` AS g ON cr.goods_id = g.goods_id
	    JOIN (SELECT mb_id, mb_thumbnail FROM `imint`.`member`) AS mbsell on g.seller_id = mbsell.mb_id
	    LEFT JOIN (SELECT goods_id, goods_images_path, goods_images_originname FROM `imint`.`goods_images` WHERE goods_images_isdelete = FALSE AND goods_images_thumbnail = TRUE) AS gi ON g.goods_id = gi.goods_id
	    LEFT JOIN
	    	(SELECT
	    		chatroom_id,
	    		sender_id,
	    		message,
	    		send_date,
	    		is_read
	    	FROM
	    		(SELECT
	    			chatroom_id,
	    			sender_id,
	    			message,
	    			send_date,
	    			is_read,
	    			ROW_NUMBER() OVER(PARTITION BY chatroom_id ORDER BY send_date DESC) AS recent
	    		FROM
	    			`imint`.`chat_messages`
	    		WHERE
	    			is_deleted = FALSE) AS rcm
	    	WHERE
	    		rcm.recent = 1
	    	ORDER BY
	    		send_date DESC) AS cm ON cr.id = cm.chatroom_id
	WHERE
		cr.isdelete = FALSE
		AND g.goods_isdelete = FALSE
	    AND (g.seller_id LIKE #{myId} OR cr.buyer_id LIKE #{myId})
	    AND (g.seller_id NOT LIKE #{myId} OR cm.message IS NOT NULL)
	ORDER BY
		last_update_date DESC, cr.create_date DESC
	</select>
	
	<!-- 차단 조회 -->
 	<select id="getBlockList" resultType="MypageBlockDTO">
		SELECT
			block_id AS id,
			b.mb_id2 AS opponent_id,
			mb.mb_nick AS opponent_nick,
			mb.mb_thumbnail AS opponent_thumbnail,
			b.block_date
		FROM
			`imint`.`block` AS b
			JOIN `imint`.`member` AS mb ON b.mb_id2 = mb.mb_id
		WHERE
			block_isdelete = FALSE
			AND b.mb_id LIKE #{myId}
		ORDER BY
			b.block_date DESC
	</select>
</mapper>