<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>iMint :: 회원가입 보호자계정 연동</title>
<th:block th:replace="libs :: style" />
<!--/*
<link rel="stylesheet" href="/static/css/member/member_basic.css">
<link rel="stylesheet" href="/static/css/member/member_register_connect.css">
*/-->
<link rel="stylesheet" href="/static/css/member/member_register_new.css">
</head>

<body>
	<div class="container">
		<h3>보호자 계정 연동하기</h3>
		<hr>
		<div class="container-page">
			<br>
			<form action="/" method="post">
				<div class="item">
					<input type=text class="pin" name="mbLocationOrGuard" placeholder="보호자 닉네임을 입력해주세요.">
				</div>
				<div class="item">
					<input type=text class="pin" name="guardPin" placeholder="보호자 계정 마이페이지 내 8자리 Pin번호를 입력해주세요.">
					<!-- 보호자 닉네임 == Pin인지 확인하기  -->
				</div>
				<br>
				<div class="item">
					<input type=submit class="btn btn-primary" value="회원가입 완료">
				</div>
				<div class="item">
					<span style="color: red;">[[${err}]]</span>
				</div>

			</form>
		</div>
	</div>

	<th:block th:replace="libs :: script" />
</body>
</html>