<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- db칼럼명을 카멜케이스로 변환 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="multi.fclass.iMint.admin.dto.AdminDTO" alias="adminDTO" />
		<typeAlias type="multi.fclass.iMint.block.dto.BlockDTO" alias="blockDTO" />
		<typeAlias type="multi.fclass.iMint.goods.dto.GoodsDTO" alias="goodsDTO" />
		<typeAlias type="multi.fclass.iMint.goods.dto.GoodsImagesDTO" alias="goodsImagesDTO" />
		<typeAlias type="multi.fclass.iMint.member.dto.MemberDTO" alias="memberDTO" />
		<typeAlias type="multi.fclass.iMint.rating.dto.RatingDTO" alias="ratingDTO" />
		<typeAlias type="multi.fclass.iMint.mypage.dto.MypageDTO" alias="MypageDTO" />
		<typeAlias type="multi.fclass.iMint.wishlist.dto.WishlistDTO" alias="WishlistDTO" />
		<typeAlias type="multi.fclass.iMint.transaction.dto.TransactionChatroomDTO" alias="TransactionChatroomDTO" />
		<typeAlias type="multi.fclass.iMint.transaction.dto.TransactionCheckDTO" alias="TransactionCheckDTO" />
	</typeAliases>
</configuration>
