<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- db칼럼명을 카멜케이스로 변환 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="multi.fclass.carrot.admin.dto.AdminDTO" alias="adminDTO"/>
		<typeAlias type="multi.fclass.carrot.chat.dto.ChatMessageDTO" alias="chatMessageDTO"/>
		<typeAlias type="multi.fclass.carrot.chat.dto.ChatRoomDTO" alias="chatRoomDTO"/>
		<typeAlias type="multi.fclass.carrot.goods.dto.GoodsDTO" alias="goodsDTO"/>
		<typeAlias type="multi.fclass.carrot.goods.dto.GoodsImagesDTO" alias="goodsImagesDTO"/>
		<typeAlias type="multi.fclass.carrot.member.dto.MemberDTO" alias="memberDTO"/>
		<typeAlias type="multi.fclass.carrot.member.dto.BlockDTO" alias="blockDTO"/>
		<typeAlias type="multi.fclass.carrot.rating.dto.RatingDTO" alias="ratingDTO"/>
		<typeAlias type="multi.fclass.carrot.transaction.dto.TransactionDTO" alias="transactionDTO"/>
		<typeAlias type="multi.fclass.carrot.wishlist.dto.WishlistDTO" alias="wishlistDTO"/>
	</typeAliases>
</configuration>
