<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="style">
	<link rel="stylesheet" href="/static/libs/filepond.css" />
	<link rel="stylesheet" href="/static/libs/filepond-plugin-image-preview.css" />
</th:block>
<th:block th:fragment="script">
	<script src="/static/libs/filepond-plugin-file-encode.js"></script>
	<script src="/static/libs/filepond-plugin-file-metadata.js"></script>
	<script src="/static/libs/filepond-plugin-image-crop.js"></script>
	<script src="/static/libs/filepond-plugin-image-preview.js"></script>
	<script src="/static/libs/filepond.js"></script>
</th:block>

</html>