@charset "UTF-8";
@import "goods-common-style.css";
@import "carousel.css";


.container {
    background-color: beige;
}

section.container h2,
section.container span {
    display: inline-block;

}

article.row1 {}

article.row1 > h1{
    display: inline-block;
}
article.row1 > a{
    text-decoration: none;
    margin-right: 15px;
    margin-top: 11px;
    float: right;
}

article.row1 img {
    width: 30px;
    height: 30px;
}

section.container article.row2>.goods-info {
    float: right;
    width: max-content;

}

article.row2>.goods-info>div:nth-child(1) {
    width: inherit;
}

article.row2>.goods-info span {
    margin-right: 10px;
}

article.row2>.goods-info img.member-rating {
    width: 25px;
    height: 25px;
}

article.row2>.goods-info>span.goods-date {
    float: right;
}

/* @import "carousel.css"; */

article.goods-content-wrap>textarea {
    width: 78.6%;
    height: 300px;
    border: 1px;
    border-radius: 1rem;
    border-style: solid;
    border-color: rgb(155, 155, 155);
    margin-left: 10.7%;
    margin-right: 10.7%;
    padding: 1.5rem;
    padding: 1.5rem;
    resize: none;
    font-size: x-large;
    text-align: center;
}

article.goods-action {
    position: fixed;
    padding: 1.5rem;
    border: 1px;
    border-radius: 1rem;
    border-style: solid;
    border-color: rgb(155, 155, 155);
    bottom: 48px;
    height: 100px;
    background-color: white;
}

article.goods-action>div:nth-child(1) {
    display: inline-block;
    width: 60%;
    height: 50%;
    float: left;

}

article.goods-action>div:nth-child(1) span {
    margin-right: 20px;
}


article.goods-action>div:nth-child(2) {
    display: inline-block;
    width: 60%;
    height: 50%;
    float: left;
}

article.goods-action>div:nth-child(2) span {
    margin-right: 10px;
}

article.goods-action>div:nth-child(3) {
    display: inline-block;
    width: 40%;
    height: 100%;
}

article.goods-action>div:nth-child(3) .btn-primary {
    margin-right: 15px;
}