@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap);

span,
a,
td,
div.label,
h1,
h2,
h3 {
  font-family: "Noto Sans Kr", sans-serif;

}

/* 해연님 스타일 */
.roundBox {
  padding: 1.5rem;
  border: 1px;
  border-radius: 1rem;
  border-style: solid;
  border-color: rgb(155, 155, 155);
}

.tab-item {
  background-color: #F9F9F9;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.tab-item:hover {
  background-color: #CDF0EA;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 200px;
  height: 70px; */
  border-radius: 10px;
  color: #3387a8;
  font-weight: bold;
}

/* 상단 탭 글자 */
.tab-item p {
  display: block;
  font-size: 1.2rem;
  margin-top: 20px;
  /* padding-top: 0.5rem; */
  align-items: center;
  justify-content: center;
  text-align: center;
}