@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap);

span,
a,
td,
div.label,
h1,
h2,
h3 {
  font-family: "Noto Sans Kr", sans-serif;

}

.roundBox{
  padding: 1.5rem;
  border: 1px;
  border-radius: 1rem;
  border-style: solid;
  border-color: rgb(155, 155, 155);
}
