@charset "UTF-8";
@import "goods-common-style.css";
@import "carousel.css";


.container {
    /* background-color: beige; */
    padding-right: 5%;
    padding-left: 5%;
}

.container form {
    background-color: #F9F9F9;
    padding: 3rem;
    border-radius: 15px;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
}

.container>form>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* 화면너비 줄어들면 줄바꿈 */

    margin-bottom: 15px;
}

.row1 {
    /* 
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    */
}

.row1>div {
    height: 150px;
}


.row1>.location {
    flex: 4;
    margin-right: 2%;
}

.row1>.location>input {
    height: inherit;
}

.row1>#thumbnail {
    flex: 4;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.row1>#thumbnail>div {
    width: 100%;
    display: inline-block;
}

.row1>#thumbnail>div>div {
    width: 160px;
    display: inline-block;
}

.row1>#thumbnail>div>div>:nth-child(2) {
    color: rgba(0, 0, 0, 0.584);
}

.row1>#thumbnail>div>label.thumbnailFile {
    height: max-content;
    float: right;
}

.row1>#thumbnail img {
    width: 80px;
    height: 80px;
}

.row1>#thumbnail>input#thumbnailFileName {}

.row1>#thumbnail>input#thumbnailFile {
    display: none;
}


.row1>#otherImages {
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row1>#otherImages>.btn-plus {
    margin: 0 auto;
    box-sizing: content-box;
    width: 7em;
    height: 7em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("/static/images/fileupload.png") center/6em auto no-repeat;
    /* background: transparent url("/static/images/plus.png") center/3em auto no-repeat; */
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}


/* filePond css */
.popup-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

.upload-popup {
    display: none;
    position: fixed;
    width: 76%;
    height: max-content;
    left: 12%;
    top: 17%;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid rgb(155, 155, 155);
    padding: 17px;
    z-index: 99999;
}

.upload-popup> :nth-child(1) {
    max-height: 400px;
}

.upload-popup>.filepond--list-scroller {
    height: 400px;
    overflow: auto;
}

/* end of filePond css */

@media screen and (max-width: 768px) {
    .row1>.location {
        width: 100%;
    }
}



.row2 {}

.row2>.title {
    min-width: 68%;
    margin-right: 2%;
}

.row2>.category {
    min-width: 30%;
}

.row3 {}

.row3>.suggestible {
    min-width: 38%;
    margin-right: 2%;
}

.row3>.price {
    min-width: 60%;
}

.row4 {}

.row4>.content {
    width: 100%;
    height: 300px;
}

.row4>.content>textarea {
    height: inherit;
    resize: none;
}

.row5 {}

.row5> :first-child {
    flex: 8;
    order: 1;
}

.row5>#goodsSubmit {
    flex: 2;
    order: 2;
}