@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap);

span,
a,
td,
div.label,
h1,
h2,
h3 {
  font-family: "Noto Sans Kr", sans-serif;

}

/* 부트스트랩 버튼 수정 */
.btn-primary {
	background-color: #CDF0EA;
    color: #3387a8;
    border: none;
}

.btn-primary:hover {
	background-color: #CDF0EA;
    color: #3387a8;
    border: none;
}

.btn-primary:active {
	background-color: #CDF0EA;
    color: #3387a8;
    border: none;
    outline: none;
}

.btn-primary:focus {
	background-color: #CDF0EA;
    color: #3387a8;
    border: none;
    outline: none;
}

/* .btn-primary:hover {
	background-color: #CDF0EA;
    color: #3387a8;
} */

/* 모서리를 둥글게 처리한 사각형 테두리 div*/
.roundBox{
  padding: 1.5rem;
  border: 1px;
  border-radius: 1rem;
  border-style: solid;
  border-color: rgb(155, 155, 155);
}

/* 헤더 */

/* 배경색 */
/* .navbar{
	background-color: #CDF0EA;
*/

/*  */
.location-text{
	/* margin-right: 3rem; */
}

/* 검색창 위치 조정 */
.search{
	
	justify-content:center;
}

/* 검색창 길이 */
.me-2 {
	width: 300px;
} 

.form-control{
	margin-right: 0.5rem; 
}

/* 검색창 버튼*/
.search-btn{
	margin-right: 0.5rem;
}

/* 상품 등록 버튼 */
.add-btn{
	margin-left: 2rem;
}

/* 푸터 */

.fixed-bottom {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}