@charset "UTF-8";

.container {
    background-color: white;
}

/* 카테고리 */
.container>article.goods-category {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
}


article.goods-category input {
    display: none;
}

article.goods-category .tab-item {
    background-color: #F9F9F9;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    height: 3rem;
    margin-bottom: 2.5rem;
}

span.hide-sm {
    margin: 2rem;
    line-height: 2.8rem;
}

article.goods-category .tab-item:hover {
    background-color: #CDF0EA;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 200px;
    height: 70px; */
    border-radius: 10px;
    color: #3387a8;
    font-weight: bold;
    cursor: pointer;
}

article.goods-category p {
    display: block;
    font-size: 1.2rem;
    margin-top: 20px;
    /* padding-top: 0.5rem; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

article.goods-category .selected {
    background-color: #CDF0EA;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 200px;
    height: 70px; */
    border-radius: 10px;
    color: #3387a8;
    font-weight: bold;
}


ul#goodsList {
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 44px;

}

li.goods-detail a {
    text-decoration: none;
    color: #212529;
}

#goodsList>li.goods-detail {
    list-style: none;
    display: block;
    width: 201px;
    margin-bottom: 56px;
    margin-right: 44px;

}

li.goods-detail .goods-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 12px;
    background-color: #F8F9FA;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

li.goods-detail .goods-image>img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid transparent;
    object-fit: contain;
}

li.goods-detail .goods-info {
    margin-top: 12px;
}

li.goods-detail span.goods-title {
    font-size: 16px;
    letter-spacing: -0.02px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: normal;
}

li.goods-detail span.goods-price {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
}

li.goods-detail span.goods-status {
    /* font-size: 15px; */
    font-weight: lighter;
    /* line-height: 1.5; */
    /* margin-bottom: 4px; */
    /* color: #212529; */
}

li.goods-detail span.goods-location {
    font-size: 13px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
}

li.goods-detail span.goods-wishCount,
li.goods-detail span.goods-writeDate {
    color: #868e96;
    font-size: 13px;
    margin-right: 20px;
}