@charset "UTF-8";

/* 페이지 전체 컨테이너 */
.container-page{
	width: 1200px;
	margin:auto;
	padding-left: 3rem;
	padding-right: 3rem;
}

/* 어사이드, 메인 2열 구현 컨테이너 */
.container-aside-main{
	display: grid;
    grid-template-columns: 0.5fr 3.5fr ;
    grid-gap: 3rem;
    /* width: 1300px; */
   	justify-content: center;
   	text-align: center;
}

/* 페이지 타이틀 */
.title{
	width: 210px;
    padding-bottom: 2rem;
}

/* 어사이드 바*/
.container-aside{
	padding-top: 3rem;
	height: 700px;
	text-align: center;
}



/* 사용자 안내 타이틀 */
.welcome-message{
	text-align:center;
}

.welcome-hamster{
	width: 40px;
	text-align:right;
	margin-bottom: 0.5rem;
}

/* 메인 컨테이너 */
.container-main {
	/* width: 700px; */
    display: block;
    text-align: center;
    padding: 3rem;
    border: 1px;
    background-color: #F9F9F9;
    border-radius: 15px;
    margin-bottom: 2rem;
}

/* 웰컴 메시지 컨테이너 */
.welcome-message-container{
	/* display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 0.5rem; */
   	display: inline-block;
    width:600px;
    margin:auto;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

/* 컨테이너-거래 관련 (관심/구매예약, 판매목록, 거래완료)  */
.container-transaction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* 거래 관련 (관심/구매예약, 판매목록, 거래완료) */
.transaction{
    padding: 1.5rem;
    border: 1px;
    border-radius: 1rem;
    border-style: solid;
    /* border-color: rgb(155, 155, 155); */
    border-color: white;
    background-color: white;
}

.tag {
    text-align: left;
}

/* 회원 상태창 */
.container-summary {
    padding: 1.5rem;
    border: 1px;
    border-radius: 1rem;
    border-style: solid;
    /* border-color: rgb(155, 155, 155); */
    border-color: white;
    background-color: white;
    margin-bottom: 1rem;
    text-align: left;
    height: 230px;
}

/* 회원 상태창 열 구분 */
.container-summary-text{
	display: grid;
    grid-template-columns:1fr 4fr 0.8fr;
    grid-gap: 1.3rem;
}

.text-summary {
    margin-bottom: 2rem;
}

#edit-detail{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

/* 기타 세팅 관련 (연결 회원, 동네 설정) */
.container-other-settings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.3rem;
}

.settings{
    padding: 1.5rem;
    border: 1px;
    border-radius: 1rem;
    border-style: solid;
    /* border-color: rgb(155, 155, 155); */
    border-color: white;
    background-color: white;
    text-align: left;
    margin-bottom: 1rem;
}

.settings-title{
    margin-bottom: 2rem;
}

/* 내아이 연결 */
.container-authentication{
    padding: 1.5rem;
    border: 1px;
    border-radius: 1rem;
    border-style: solid;
    /* border-color: rgb(155, 155, 155); */
    border-color: white;
    background-color: white;
}

.container-authentication > h5 {
    margin-bottom: 1rem;
}
.btn {
    float: right;
}

.user-photo{
	width: 110px;
	height: 110px;
	object-fit: cover;
}