@charset "UTF-8";

/* 페이지 전체 컨테이너 */
.container-page {
    width: 1200px;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* 어사이드, 메인 2열 구현 컨테이너 */
.container-aside-main {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
    grid-gap: 3rem;
    /* width: 1300px; */
    justify-content: center;
    text-align: center;
}

/* 페이지 타이틀 */
.title {
    width: 210px;
    padding-bottom: 2rem;
}

/* 어사이드 바*/
.container-aside {
    padding-top: 3rem;
    height: 700px;
    text-align: center;
}

/* 메인 컨테이너 */
.container-main {
    /* width: 700px; */
    display: block;
    text-align: center;
    padding: 3rem;
    border: 1px;
    background-color: #f9f9f9;
    border-radius: 15px;
    margin-bottom: 2rem;
}

/* 타이틀 (회원 정보 수정하시겠어요?) */
.title-text {
    margin-bottom: 3rem;
}
.title-text h2 {
    display: inline-block;
}

/* 내 아이 선택 */
#select-child {
    display: inline-block;
    width: 300px;
    text-align: center;
    height: 50px;
    font-size: 32px;
    border: rgb(204, 204, 204) solid 1px;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: none;
    padding: 0;
}

/* 탭 내용 컨테이너*/
.tab-content > .container {
    margin-top: 1rem;
}

.tab-content-item {
    padding: 2rem;
    border-color: white;
    background-color: white;
    border-radius: 10px;
}

.tab-content-item:first-child {
    margin-bottom: 3rem;
}

/* 버튼 */
.buttons {
    display: grid;
    grid-template-columns: 50px 50px 60px 60px;
    grid-gap: 0.5rem;
    /* width: 250px; */
    margin-bottom: 1.5rem;
    /* margin-right: 0rem;
    margin-left: 1rem; */
    align-items: center;
    justify-content: right;
    text-align: center;
}

.select-title {
    font-size: small;
    font-weight: bold;
    margin-bottom: 2px;
}

/* 채팅목록 내용 */

/* 채팅목록-항목명 정렬 */
.item-lables-chat {
    display: grid;
    grid-template-columns: 0.5fr 4fr 1fr;
    /* grid-gap: 0.5rem; */
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: rgb(204, 204, 204) solid 1px;
    padding-bottom: 1rem;
}

/* 채팅목록-항목별 내용 정렬 */
.item-list-chat {
    display: grid;
    grid-template-columns: 0.5fr 4fr 1fr;
    grid-gap: 0/5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: rgb(204, 204, 204) solid 1px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

/* 채팅목록 내 상대 사진, 상대 내용 2열 정렬 */
.person {
    display: grid;
    grid-template-columns: 0.8fr 3fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
}

/* 채팅목록 내용 > 상대방 닉네임 굵기 처리 */
.item-person-nickname {
    font-weight: bold;
}

/* 채팅목록 내용 > 상대 내용 왼쪽 정렬 */
.person-detail {
    text-align: left;
}

/* 상대 프로필 */
/* .photo-container{
	align-items: right;
    justify-content: right;
} */

.person-photo {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.item-person-chat-content {
    margin-left: 0.5rem;
    padding: 0.5rem;
}

/* 선택한 아이만 보이게 함 */

.item-list-guard {
    display: none;
}

.show-list {
    display: grid !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;
}
