@charset "UTF-8";

/* 페이지 전체 컨테이너 */
.container-page{
	width: 1200px;
	margin:auto;
	padding-left: 3rem;
	padding-right: 3rem;
}

/* 어사이드, 메인 2열 구현 컨테이너 */
.container-aside-main{
	display: grid;
    grid-template-columns: 0.5fr 3.5fr;
    grid-gap: 1.3rem;
    /* width: 1300px; */
   	justify-content: center;
   	
}

/* 페이지 타이틀 */
.title{
	width: 1300px;
    padding-top: 3rem;
}

/* 어사이드 바*/
.container-aside{
	padding-top: 5rem;
	height: 700px;
}

/* 메인 컨테이너 */
.container-main {
	/* width: 700px; */
    display: block;
    text-align: center;
    padding: 3rem;
    border: 1px;
}

/* 타이틀 (회원 정보 수정하시겠어요?) */
.title-text{
	margin-bottom: 6rem;
}

/* 내 아이 선택 드롭다운 */
.dropdown-toggle{
	justify-content: left;
}

.dropdown{
	text-align:left;
	margin-bottom:2rem;
}

/* 상단 탭 컨테이너*/
.tabs .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* 상단 탭 개별 항목 컨테이너 */
.tab-item{
    background-color: #F9F9F9;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 200px;
    height: 70px; */
    border-radius: 10px;
}

.tab-item:hover{
    background-color: #CDF0EA;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 200px;
    height: 70px; */
    border-radius: 10px;
    color: #3387a8;
    font-weight: bold;
   	cursor: pointer;
}

/* 상단 탭 선택 시 JS로 계속 선택되어있게 하는 부분 */
.selected{
    background-color: #CDF0EA;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 200px;
    height: 70px; */
    border-radius: 10px;
    color: #3387a8;
    font-weight: bold;
}

/* 상단 탭 글자 */
.tabs p {
    display: block;
    font-size: 1.2rem;
    margin-top: 20px;
    /* padding-top: 0.5rem; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* 상단 탭 선택 시 탭 내용을 JS로 보이기/숨기기 조정하기 위한 부분 */
#tab-1-content, #tab-2-content, #tab-3-content, #tab-4-content {
    display: none;
    opacity: 0;
}
.show {
    display: block !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;
}

/* 탭 내용 컨테이너*/
.tab-content > .container{
    margin-top: 1rem;
}

.tab-content-item{
    padding: 2rem;
    background-color: #F9F9F9;
    border-radius: 10px;
}

/* 버튼 */
.buttons{
    display: grid;
    grid-template-columns: 50px 50px 60px 60px;
    grid-gap: 0.5rem;
    /* width: 250px; */
    margin-bottom: 1.5rem;
    /* margin-right: 0rem;
    margin-left: 1rem; */
    align-items: center;
    justify-content: right;
    text-align: center;
}

.select-title{
    font-size: small;
    font-weight: bold;
    margin-bottom: 2px;
}

/* 채팅목록 내용 */

/* 채팅목록-항목명 정렬 */
.item-lables-chat{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr ;
    /* grid-gap: 0.5rem; */
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: rgb(204, 204, 204) solid 1px;
    padding-bottom: 1rem;
}

/* 채팅목록-항목별 내용 정렬 */
.item-list-chat{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr ;
    grid-gap: 0/5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: rgb(204, 204, 204) solid 1px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

/* 채팅목록 내 상대 사진, 상대 내용 2열 정렬 */
.person{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap: 0/5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

/* 채팅목록 내용 > 상대방 닉네임 굵기 처리 */
.item-person-nickname {
    font-weight: bold;
}

/* 채팅목록 내용 > 상대 내용 왼쪽 정렬 */
.person-detail{
    text-align: left;
}

/* 채팅목록 내용 > 상품명, 가격 2열 정렬 */
.item-detail {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 0/5rem;
    align-items: center;
    justify-content: center;
    text-align: left;
}

/* 상품 사진 크기 조절 */
img.photo {
	width: 120px;
}