@charset "UTF-8";

/* 페이지 전체 컨테이너 */
.container-page{
	width: 1200px;
	margin:auto;
	padding-left: 3rem;
	padding-right: 3rem;
}

/* 어사이드, 메인 2열 구현 컨테이너 */
.container-aside-main{
	display: grid;
    grid-template-columns: 0.5fr 3.5fr;
    grid-gap: 3rem;
    /* width: 1300px; */
   	justify-content: center;
   	
}

/* 페이지 타이틀 */
.title{
	width: 210px;
    padding-bottom: 2rem;
    text-align:center;
}

/* 어사이드 바*/
.container-aside{
	padding-top: 3rem;
	height: 700px;
}

/* 사용자 안내 타이틀 */
.welcome-message{
    margin-bottom: 1rem;
}

/* 메인 컨테이너 */
.container-main {
	/* width: 700px; */
    display: block;
    text-align: center;
    padding: 3rem;
    border: 1px;
    background-color: #F9F9F9;
    border-radius: 15px;
    height: 630px;
}

/* 맵 */
#map{
	margin-top: 6fr;
}

/* 버튼 */
.buttons{
	display: block;
    /* grid-template-columns: 1fr 1fr; */
   /*  grid-gap: 1.3rem; */
    /* width: 1300px; */
   	justify-content: center;
   	text-align: center;
   	align-items:center;
   	place-items: center;
}

#confirm_btn{
	width:150px;
	font-weight: 600;
}