@charset "UTF-8";

/* 탭 내용 - 항목명 */
.item-lables{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 4fr 1.8fr 3.5fr 3fr ;
    grid-gap: 0/5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: rgb(204, 204, 204) solid 1px;
    padding-bottom: 0.5rem;
}

/* 탭 내용 - 항목별 내용 */
.item-list{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 4fr 1.8fr 3.5fr 3fr ;
    grid-gap: 0/5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: rgb(204, 204, 204) solid 1px;
}

.text {
    margin: auto;
    height: 100px;
    line-height: 6;
}
 .item-list-guard{
	display: none;
}

/* 선택한 아이만 보이게 함 */
.show-list{
	display: grid !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;
} 

.person-photo{
	width: 90px;
	height: 90px;
	object-fit: contain;
	
	margin-bottom: 1rem;
}

/* 채팅목록 메시지 말풍선 */
.item-person-chat{
	position: relative;
	background: #eaeaea;
	border-radius: .4em;
}

.item-person-chat:after {
	content: '';
	position: absolute;
	bottom: 10%;
	left: 10%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-top-color: #eaeaea;
	border-bottom: 0;
	border-left: 0;
	margin-left: -6px;
	margin-bottom: -12px;
}

.item-person-chat-content{
	margin-left: 0.5rem;
	padding: 0.5rem;
}
